server:
  port: 9191

spring:
  application:
    name: service1-api

eureka:
  instance:
    prefer-ip-address: true
  client:
    registry-fetch-interval-seconds=5:
    fetch-registry: true
    register-with-eureka: false
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: basic